<div class="grid grid-flow-row grid-cols-2 gap-4">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      [defaultValue]="patient.name"
      [(ngModel)]="patient.name"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input
      matInput
      type="number"
      [defaultValue]="patient.age"
      [(ngModel)]="patient.age"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select [(ngModel)]="patient.gender">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Adress</mat-label>
    <input
      matInput
      type="text"
      [defaultValue]="patient.adress"
      [(ngModel)]="patient.adress"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input
      matInput
      type="text"
      [defaultValue]="patient.phone"
      [(ngModel)]="patient.phone"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      type="text"
      [defaultValue]="patient.email"
      [(ngModel)]="patient.email"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Blood Group</mat-label>
    <mat-select [(ngModel)]="patient.bloodGroup">
      <mat-option value="A+">A+</mat-option>
      <mat-option value="A-">A-</mat-option>
      <mat-option value="B+">B+</mat-option>
      <mat-option value="B-">B-</mat-option>
      <mat-option value="AB+">AB+</mat-option>
      <mat-option value="AB-">AB-</mat-option>
      <mat-option value="O+">O+</mat-option>
      <mat-option value="O-">O-</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input
      matInput
      type="number"
      [defaultValue]="patient.weight"
      [(ngModel)]="patient.weight"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Height</mat-label>
    <input
      matInput
      type="number"
      [defaultValue]="patient.height"
      [(ngModel)]="patient.height"
    />
  </mat-form-field>
  <app-doctor-select [doctor]="patient.doctor"></app-doctor-select>
</div>
