<div class="p-10 flex flex-col gap-y-10">
  <div class="flex flex-col gap-y-10">
    <h1>Create Patient</h1>

    <div class="px-10 flex flex-col">
      <app-patient-form
        [patient]="patient"
        [doctors]="doctors"
      ></app-patient-form>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="addPatient()"
      >
        Save
      </button>
    </div>
  </div>

  <div class="flex flex-row justify-start">
    <button
      class="w-fit"
      type="button"
      mat-raised-button
      color="primary"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>
</div>
