<mat-toolbar color="primary">
  <div class="flex flex-row gap-x-5">
    <span>Patient Portal</span>

    <button mat-stroked-button color="basic" routerLink="/patient-list">
      Patients
    </button>

    <button mat-stroked-button color="basic" routerLink="/treatment-list">
      Treatments
    </button>

    <button mat-stroked-button color="basic" routerLink="/doctors-list">
      Doctors
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
