<div class="p-10 flex flex-col gap-y-10">
  <h1>Patient Detail</h1>

  <mat-card *ngIf="patient">
    <mat-card-header>
      <mat-card-title>{{ patient.name }}</mat-card-title>
      <mat-card-subtitle>{{ patient.age }} years old</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="flex flex-row justify-start gap-x-14">
        <div class="flex flex-col gap-y-2">
          <div class="flex flex-row gap-x-2">
            <mat-icon>phone</mat-icon>
            <span>{{ patient.phone }}</span>
          </div>
          <div class="flex flex-row gap-x-2">
            <mat-icon>location_on</mat-icon>
            <span>{{ patient.adress }}</span>
          </div>
          <div class="flex flex-row gap-x-2">
            <mat-icon>email</mat-icon>
            <span>{{ patient.email }}</span>
          </div>
        </div>

        <div class="flex flex-col gap-y-2">
          <div class="flex flex-row gap-x-2">
            <mat-icon>bloodtype</mat-icon>
            <span>{{ patient.bloodGroup }}</span>
          </div>
          <div class="flex flex-row gap-x-2">
            <mat-icon>height</mat-icon>
            <span>{{ patient.height }} cm</span>
          </div>
          <div class="flex flex-row gap-x-2">
            <mat-icon>monitor_weight</mat-icon>
            <span>{{ patient.weight }} kg</span>
          </div>
        </div>

        <div class="flex flex-col gap-y-2">
          <div class="flex flex-row gap-x-2">
            <mat-icon>medical_services</mat-icon>
            <span>{{ getDoctorName(patient.doctor) }}</span>
          </div>
          <div class="flex flex-row gap-x-2">
            <mat-icon>male</mat-icon>
            <span>{{ patient.gender }}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- treatments -->
  <div>
    <div class="flex flex-row justify-between">
      <h2>Treatments</h2>
      <button
        class="w-fit"
        type="button"
        mat-raised-button
        color="primary"
        (click)="addTreatment()"
      >
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
    <div class="flex flex-col gap-y-5">
      <div *ngFor="let treatment of treatments">
        <mat-card>
          <mat-card-content>
            <div class="flex flex-row justify-between w-full">
              <div class="flex flex-col gap-y-2">
                <div class="flex flex-row gap-x-2">
                  <mat-icon>medical_services</mat-icon>
                  <span>{{ getDoctorName(treatment.doctor) }}</span>
                </div>
                <div class="flex flex-row gap-x-2">
                  <mat-icon>date_range</mat-icon>
                  <span>{{ treatment.date }}</span>
                </div>
              </div>

              <div class="flex flex-col gap-y-2">
                <div class="flex flex-row gap-x-2">
                  <mat-icon>medical_services</mat-icon>
                  <span>{{ treatment.treatment }}</span>
                </div>

                <button
                  class="w-fit"
                  type="button"
                  mat-raised-button
                  color="warn"
                  (click)="deleteTreatment(treatment._id)"
                >
                  <mat-icon>delete</mat-icon>
                  Delete
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-start">
    <button
      class="w-fit"
      type="button"
      mat-raised-button
      color="primary"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>
</div>
